@font-face {
  font-family: 'DIN Next Stencil';
  src: url('../../fonts/DINNextStencil-Bold.woff2') format('woff2'),
      url('../../fonts/DINNextStencil-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../../fonts/PFDinDisplayPro-Regular.woff2') format('woff2'),
      url('../../fonts/PFDinDisplayPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../../fonts/PFDinDisplayPro-Light.woff2') format('woff2'),
      url('../../fonts/PFDinDisplayPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../../fonts/PFDinDisplayPro-Bold.woff2') format('woff2'),
      url('../../fonts/PFDinDisplayPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../../fonts/PFDinDisplayPro-Medium.woff2') format('woff2'),
      url('../../fonts/PFDinDisplayPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


