.btn {
  padding: 1rem;
  font-weight: 500;
  border-radius: 4px; 
  background-color: #1859B1;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: .888rem;
  color: #FBD649;
}

.m-btn {
  display: none;
  background-color: #1859B1;
  border-radius: 4px;
  color: #FBD649;
  padding: 8px;
}

.btn_icon {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 0.555rem 1rem;
}

.btn__icon {
  width: 1.666rem;
  height: 1.666rem;
  margin-right: 0.666rem;
}

.btn__icon img,
.btn__icon svg {
  width: 100%;
  height: 100%;
}

.btn_inst,
.btn_tg,
.btn_tw {
  color: #FFF;
}

.btn_inst {
  background: linear-gradient(97.53deg, #4568C3 0%, #D8546B 100%);
}

.btn_tg {
  background: linear-gradient(180deg, #3CBEEA 0%, #19A9DE 100%);
}

.btn_tw {
  background-color: #46A1EB;
}

.btn_size-l {
  font-size: 1.444rem;
  padding-bottom: 1.111rem;
  padding-top: 1.111rem;
  min-width: 19.444rem;
}

@media (max-width: 767px) {
  .btn_size-l {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    min-width: 16rem;
  }
}