.icon-instagram {
  width: 1.111rem;
  height: 1.111rem;
}

.icon-telegram {
  width: 1.222rem;
  height: 1.222rem;
}

.icon-twitter {
  width: 1.277rem;
  height: 1.111rem;
}

.icon-play {
  width: 5.777rem;
  height: 5.777rem;
}

.logo {
  width: 3.111rem;
  height: 3.166rem;
}

.icon-hamburger {
  width: 24px;
  height: 18px;
}