.bonuses {
  text-align: center;
}

.bonuses .sub-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bonuses__img-list {
  width: 58.611rem;
  height: 6.667rem;
  margin: 3rem auto;
  display: block;
}

@media (max-width: 767px) {
  .bonuses__img-list {
    width: 95%;
    height: auto;
    margin: 2rem auto;
  }
}