.box-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 60.555rem;
}

.box-list_size-m {
  max-width: none;
}

.box-list__item {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 2.222rem 2.777rem;
  background-color: rgba(88, 89, 96, .12);
}

.box-list .row {
  margin-top: 3.333rem;
}

.box-list__title {
  font-family: 'DIN Next Stencil';
  text-transform: uppercase;
  font-size: 3.555rem;
  color: #E4B71F;
}

.box-list__descr {
  margin-top: 1.667rem;
  font-size: 1.333rem;
  line-height: 136%;
}

.box-list_size-s .box-list__title {
  font-size: 1.667rem;
}

.box-list_size-s .box-list__descr {
  font-size: 1rem;
}

.box-list_size-m .box-list__item {
  padding: 1.444rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.box-list_size-m .box-list__title {
  font-size: 2.777rem;
  margin-bottom: 1rem;
}

.box-list_size-m .box-list__descr {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1rem;
}

.box-list_size-m .box-list__btn {
  margin-top: 1.5rem;
}

.box-list__btn .btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.box-list [class^="col-"] {
  margin-top: .45rem;
  margin-bottom: .45rem;
}

@media (max-width: 950px) {
  .box-list .row {
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  .box-list__item {
    padding: 1.8rem;
  }
}