.features .title {
  max-width: 44.444rem;
}

.features__title,
.features__item-title {
  font-family: 'DIN Next Stencil';
  text-transform: uppercase;
}


.features__title {
  margin-top: 2.5rem;
  font-size: 1.666rem;
  line-height: 102%;
  color: #C0BFB6;
}

.features .row {
  margin-top: 1rem;
}

.features__item {
  padding: 1.666rem;
  background-color: rgba(88, 89, 96, .12);
}

.features__item-title {
  color: #E4B71F;
  position: relative;
  font-size: 1.67rem;
  max-width: 13rem;
}

.features__item-descr {
  margin-top: 1.67rem;
  max-width: 12.5rem;
  font-weight: 300;
}

@media (max-width: 767px) {
  .col-xs-6 + .col-xs-12 {
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .features__title {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .features__item {
    height: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 430px) {
  .features__item {
    padding: 1.2rem;
  }
}

@media (max-width: 400px) {
  .features__item-title {
    font-size: 1.5rem;
  }
}