
.steps .title {
  text-align: center;
  max-width: 47.6rem;
  margin-right: auto;
  margin-left: auto;
}

.steps__hint {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  line-height: 136%;
  color: #C0BFB6;
}

.steps__btn-help {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.steps__weapon {
  position: relative;
  height: 100%;
}

.steps__weapon-img {
  position: absolute;
  width: 13.055rem;
  height: 14.722rem;
  bottom: -5rem;
  right: -1rem;
}

@media (max-width: 767px) {
  .steps__hint {
    margin-left: auto;
    margin-right: auto;
    max-width: 18rem;
  }

  .steps__weapon-img {
    right: 0;
    z-index: -1;
  }
}

@media (max-width: 600px) {
  .steps__weapon-img {
    bottom: -3rem;
    height: 11.28rem;
    width: 10rem;
  }
}