.war-stats {
  text-align: center;
  color: #D5D3CD;
}

.war-stats .title {
  color: #FB4949;
}

.war-stats__list {
  display: flex;
  margin-top: 2.5rem;
  justify-content: space-between;
}

.war-stats__list-item .title {
  display: inline-block;
  position: relative;
}

.war-stats__list-item .title::before {
  content: '>';
  position: absolute;
  top: calc(50% - 2px);
  transform: translateY(-50%);
  left: -1.3rem;
}

@media (max-width: 767px) {
  .war-stats {
    margin-top: 2rem;
  }

  .war-stats__list {
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .war-stats__list {
    margin-top: 1.5rem;
  }
}

@media (max-width: 430px) {
  .war-stats__list {
    flex-direction: column;
  }

  .war-stats__list-item:not(:first-child) {
    margin-top: 1.5rem;
  }
}