.header {
  position: fixed;
  padding-top: 1.333rem;
  padding-bottom: 1.333rem;
  box-sizing: border-box;
  transition: .3s;
  z-index: 9999;
  width: 100%;
  left: 0;
  top: 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo .logo {
  color: #1859B1;
}

.header__menu {
  display: flex;
  font-family: 'DIN Next Stencil';
  text-transform: uppercase;
  align-items: center;
  font-size: 1rem;
  flex-grow: 1;
}

.header__menu-list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.header__menu-item {
  padding-left: 0.555rem;
  padding-right: 0.555rem;
}

.header_blur {
  background-color: rgba(19, 19, 20, 0.6);
  backdrop-filter: blur(10px);
}

@media (max-width: 925px) {
  .header__menu {
    display: none;
  }

  .m-btn {
    display: block;
  }
}