.prove__gallery {
  width: 100%;
  height: 100%;
  display: grid;
  position: relative;
  justify-content: center;
  grid-template-columns: 9.555rem 9.555rem 9.555rem 9.555rem;
  grid-template-rows: 6.659rem 6.659rem 6.659rem 6.659rem;
  column-gap: 1.111rem;
  row-gap: 1.111rem;
}

.prove__gallery::before {
  content: '';
  position: absolute;
  background-image: url(/assets/images/rrm-metal-arm-r.png);
  background-size: cover;
  height: 11.611rem;
  width: 8.833rem;
  bottom: -5rem;
  left: -8rem;
  z-index: -1;
}

.prove__gallery-item {
  position: relative;
}

.prove__gallery-item img {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}

.prove__gallery-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.prove__gallery-item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.prove__gallery-item:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.prove__gallery-item:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.prove__gallery-item:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: span 2;
}


.prove__gallery-item:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 4;
}

.prove__info {
  display: flex;
  align-items: center;
  margin-top: 2.222rem;
}

.prove__info-text {
  max-width: 13.888rem;
  color: #C0BFB6;
}

@media (max-width: 1023px) {
  .prove {
    text-align: center;
  }

  .prove__gallery::before {
    display: none;
  }

  .prove__info {
    justify-content: center;
    margin-bottom: 2.222rem;
  }
}

@media (max-width: 600px) {
  .prove__gallery-item {
    display: none;
  }

  .prove__gallery {
    display: flex;
  }

  .prove__gallery-item:nth-child(5),
  .prove__gallery-item:nth-child(6) {
    display: block;
  }
}

@media (max-width: 475px) {
  .prove__info {
    flex-direction: column;
  }

  .prove__info-text {
    margin-bottom: 1rem;
  }
}