@import url("fonts.css");

html,
body {
  font-family: 'Black Ops One', 'Times New Roman', serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

html {
  color: #fff;
  font-size: 12px;
}

body {
  background-image: url('../images/background-pixel.jpg');
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #46A1EB;
}

a:hover,
a.active {
  color: #FBD649;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}

img,
svg {
  display: inline-block;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.wrapper {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.222rem;
  padding-right: 2.222rem;
  box-sizing: border-box;
  position: relative;
}

.rrm-page {
  max-width: 75%;
  margin: 3rem auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  padding: 1rem 2rem;
  max-width: 1200px;
  line-height: 1.8;
  font-size: 2rem;
}
